<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>UNNotificationExtensionCategory</key>
			<string>myNotificationCategory</string>
			<key>UNNotificationExtensionInitialContentSizeRatio</key>
			<real>1</real>
		</dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.usernotifications.content-extension</string>
	</dict>
	<key>SmartechKeys</key>
	<dict>
		<key>SmartechAppGroup</key>
		<string>com.netcore.SmartechApp</string>
		<key>SmartechAppId</key>
		<string>e446c143bab01a0c1e0e53f3db542421</string>
	</dict>
</dict>
</plist>
